{% assign pages_in_other_langs = site.pages | where: "ref", page.ref | sort: 'lang' | reverse %}

{% if pages_in_other_langs.size > 0 %}
<!-- Country Switch -->
<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
    <span>Other countries</span>
    <svg class="icon d-none d-lg-block">
      <use xlink:href="/euro-agency/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
    </svg>
  </a>
  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 46px, 0px);">
    <div class="row">
      <div class="col-12">
        <div class="link-list-wrapper">
          <ul class="link-list">
			<li><a class="dropdown-item list-item" href="../at/"><span>AT - AUSTRIA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../be/"><span>BE - BELGIUM <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../bg/"><span>BG - BULGARIA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../hr/"><span>HR - CROATIA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../cy/"><span>CY - CYPRUS <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../cz/"><span>CZ - CZECH REPUBLIC <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../dk/"><span>DK - DENMARK <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../ee/"><span>EE - ESTONIA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../fi/"><span>FI - FINLAND <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../fr/"><span>FR - FRANCE <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../de/"><span>DE - GERMANY <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../gr/"><span>GR - GREECE <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../hu/"><span>HU - HUNGARY <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../is/"><span>IS - ICELAND <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../ie/"><span>IE - IRELAND <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../italy/"><span>IT - ITALY <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../lv/"><span>LV - LATVIA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../le/"><span>LE - LIECHTENSTEEIN <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../lt/"><span>LT - LITHUANIA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../lu/"><span>LU - LUXEMBOURG <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../mt/"><span>MT - MALTA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../nl/"><span>NETHERLANDS <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../no/"><span>NO - NORWAY <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../pl/"><span>PL - POLAND <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../pt/"><span>PT - PORTUGAL <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../ro/"><span>RO - ROMANIA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../sk/"><span>SK - SLOVAKIA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../sl/"><span>SL - SLOVENIA <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../es/"><span>ES - SPAIN <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../se/"><span>SE - SWEDEN <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
			<li><a class="dropdown-item list-item" href="../"><span>WW - WORLDWIDE <span class="visually-hidden" data-i18n="selezionata"></span></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
    <span>{{ page.lang | upcase }}</span>
    <svg class="icon d-none d-lg-block">
      <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
    </svg>
  </a>
  <div class="dropdown-menu">
    <div class="row">
      <div class="col-12">
        <div class="link-list-wrapper">
          <ul class="link-list">
            {% for linked_page in pages_in_other_langs %}
            {% if linked_page.lang == "it" %}
            <li><a class="list-item {% if linked_page.lang == page.lang %}active{% endif %}" href="{{ site.baseurl }}{{ linked_page.url }}" title="{{ site.data.t.italian-version[page.lang] }}"><span>{{ linked_page.lang | upcase }}</span></a></li>
            {% else %}
            <li><a class="list-item {% if linked_page.lang == page.lang %}active{% endif %}" href="{{ site.baseurl }}{{ linked_page.url }}" title="{{ site.data.t.english-version[page.lang] }}"><span>{{ linked_page.lang | upcase }}</span></a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}

{% endif %}